@model HRAgencySystem.Web.ViewModels.Hall.HallViewModel

<div class="col-md-4 hall-row">
    <h2>Name: @Model.Name</h2>
    <p>Description: @Model.Description</p>
    <p>Capacity: @Model.Capacity</p>
    <p>
        @if (this.User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Details", "Details", "Hall", new {id = @Model.Id}, new {@class = "btn btn-primary"})
        }

        @if (this.User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", "AdminHall", new { id = @Model.Id, area = "Admin" }, new { @class = "btn btn-success" })
            @Html.ActionLink("Delete", "Delete", "AdminHall", new { id = @Model.Id, area = "Admin" }, new { @class = "btn btn-danger" })
        }
    </p>
</div>
