@model HRAgencySystem.Web.ViewModels.Hall.HallViewModel

<div class="col-md-4">
    <h2>Name: @Model.Name</h2>
    <p>Description: @Model.Description</p>
    <p>Capacity: @Model.Capacity</p>
    <p>
        @Html.ActionLink("Details", "Details", "Hall", new { id = @Model.Id }, new { @class = "btn btn-primary" })
    </p>
</div>