@model HRAgencySystem.Web.ViewModels.Hall.HallReservationsViewModel
@{
    ViewBag.Title = "HallReservationsViewModel";
}

<tr>
    <td>@Model.HallName</td>
    <td>@Model.Description</td>
    <td>@Model.CapacityForReservation</td>
    <td>@Model.StartDate</td>
    <td>@Model.EndDate</td>
    @if (@Model.isUserInReservation)
    {
        <td><button class="btn btn-danger">Delete me</button></td>
    }
    else
    {
        <td><button class="btn btn-success">Add me</button></td>
    }
</tr>

