@model HRAgencySystem.Web.ViewModels.Reservation.ReservationViewModel
@{
    ViewBag.Title = "ReservationViewModel";
}

<div class="col-md-4 hall-row">
    <h2>Hall name: @Model.HallName</h2>
    <p>Description: @Model.Description</p>
    <p>Capacity: @Model.CapacityForReservation</p>
    <p>
        @if (this.User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Details", "Details", "Reservation", new {id = @Model.Id}, new {@class = "btn btn-primary"})
        }

        @if (this.User.IsInRole("Admin"))
        {
            <button class="btn btn-success">Edit</button>
            <button class="btn btn-danger">Delete</button>
        }
    </p>
</div>


