@model HRAgencySystem.Web.ViewModels.User.UserReservationsViewModel
@{
    ViewBag.Title = "UserReservationsViewModel";
}

<tr id="row @Model.Id">
    <td>@Model.HallName</td>
    <td>@Model.Description</td>
    <td>@Model.CapacityForReservation</td>
    <td>@Model.StartDate</td>
    <td>@Model.EndDate</td>
    <td>
        @using (Ajax.BeginForm(
            "DeleteMeFromReservation",
            "User",
            new
            {
                id = @Model.Id,
            },
            new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = string.Format(
                    "deleteSuccess({0})",
                    Json.Encode(@Model.Id)
                    ),
                LoadingElementId = "progressToadd"
            }
            ))
        {
            <button type="submit" class="btn btn-danger">Delete me</button>
        }
    </td>
</tr>

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script>
        var deleteSuccess = function (rowid) {
            //document.getElementById("row " + ).remove();
            $('#row' + rowid).remove();
        };
    </script>
}