@model HRAgencySystem.Web.ViewModels.User.UserReservationsViewModel
@{
    ViewBag.Title = "UserReservationsViewModel";
}

<tr>
    <td>@Model.HallName</td>
    <td>@Model.Description</td>
    <td>@Model.CapacityForReservation</td>
    <td>@Model.StartDate</td>
    <td>@Model.EndDate</td>
    <td><button class="btn btn-danger">Delete me</button></td>
</tr>



