@model HRAgencySystem.Web.ViewModels.Reservation.ReservationDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Reservatin details</h2>

<div>
    <p>@Html.DisplayNameFor(x => x.Description) : @Html.DisplayFor(x => x.Description)</p>
    <p>@Html.DisplayNameFor(x => x.HallName) : @Html.DisplayFor(x => x.HallName)</p>
    <p>@Html.DisplayNameFor(x => x.StartDate) : @Html.DisplayFor(x => x.StartDate)</p>
    <p>@Html.DisplayNameFor(x => x.EndDate) : @Html.DisplayFor(x => x.EndDate)</p>
    <p>@Html.DisplayNameFor(x => x.CapacityForReservation) : @Html.DisplayFor(x => x.CapacityForReservation)</p>
</div>
<div id="Users">
    <h2>Users</h2>
    @if (@Model.Users.Any())
    {
        @Html.DisplayFor(x => x.Users)
    }
    else
    {
        <span>No Users!</span>
    }
</div>

